<!-- The title of the page which displays the viewTitle object (a string) that is defined in its TypeScript-file -->
<h1 id="tableLabel">{{ viewTitle }}</h1>

<!-- Creating the input to write into the filtering event -->
<div class="row">
  <div class="col-md-2">Filter by:</div>
  <div class="col-md-4">
    <input type="text" [(ngModel)]="listFilter" />
  </div>
</div>

<!-- The output from the filtering event, showing which word or letter the view is currently filtered on -->
<div class="row">
  <div class="col-md-6">
    <h4>Filtered by: {{ listFilter }}</h4>
  </div>
</div>

<!-- Creating a table to show the postinformation inside-->
<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Post Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!--Listing out all the filtered posts:-->
    <tr *ngFor="let post of filteredPosts">
      <td>{{ post.PostId }}</td>
      <!---Trying to link the postName to the comment page with the post Id to know which data to fetch and load (post)-->
      <td><a [routerLink]="['/comments/', post.PostId]"> {{ post.PostTitle }} </a></td>
      <td>
        <!-- Two different links: One to update the chosen post, the other one to delete it.-->
        <!-- This update field is styled, and have a click event on it. When clicked the described method is invoked in the typescript file.-->
        <a class="update-link" (click)="updateSelectedPost(post.PostId)">Update</a>
        <!-- This delete field is styled, and have a click event on it. When clicked the described method is invoked in the typescript file.-->
        <a class="delete-link" (click)="deletePost(post)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<!-- A button for navigating to create a new post, when clicked the described method is invoked in the typescript file.-->
<button class="btn btn-primary" (click)="createNewPost()">Create New Post</button>

