<!-- The title of the page which displays the viewTitle object (a string) that is defined in its TypeScript-file -->
<h1 id="tableLabel">{{ viewTitle }}</h1>

<!-- Creating the input to write into the filtering event -->

<div class="container">
  <div>
    <div class="col-md-2">Filter by:</div>
    <div class="col-md-4">
      <input type="text" placeholder="Serach"
             style="width:450px;padding:2px 20px;margin:10px 0px;height:30px;"
             [(ngModel)]="listFilter" />

    </div>

    <!-- The output from the filtering event, showing which word or letter the view is currently filtered on -->
    <div>

      <h6>Filtered by: {{listFilter}}</h6>

    </div>

  </div>

  <!-- Creating a table to show the postinformation inside-->
  <table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
      <tr>
        <!--<th>Post Id</th>-->
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!--Listing out all the filtered posts:-->
      <tr *ngFor="let post of filteredPosts">
        <!--<td>{{ post.PostId }}</td>-->
        <!---Trying to link the postName to the comment page with the post Id to know which data to fetch and load (post)-->
        <td><a [routerLink]="['/comments/', post.PostId]"> {{ post.PostTitle }} </a></td>
        <td class="actions">
          <!-- Two different links: One to update the chosen post, the other one to delete it.-->
          <!-- This update field is styled, and have a click event on it. When clicked the described method is invoked in the typescript file.-->
          <a class="update-link" (click)="updateSelectedPost(post.PostId)" class="btn btn-sm btn-info mr-2">Update</a>
          <!-- This delete field is styled, and have a click event on it. When clicked the described method is invoked in the typescript file.-->
          <a class="delete-link" (click)="deletePost(post)" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- A button for navigating to create a new post, when clicked the described method is invoked in the typescript file.-->
  <div class="text-right my-4">
    <button class="btn btn-success" (click)="createNewPost()">Create New Post</button>
  </div>
