<h2>{{ isEditMode ? 'Update' : 'Create' }} Post</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="topicId">{{ isEditMode ? 'Change Topic:' : 'Topic' }}</label>
    <select id="topicId" formControlName="topicId" class="form-control" (change)="onTopicChange($event)">
      <option *ngFor="let topic of topics" [value]="topic.TopicId">{{ topic.TopicName }}</option>
    </select>
    <div class="warning" *ngIf="postForm.get('topicId')?.hasError('required')">
      A Topic is required.
    </div>
  </div>

  <div class="form-group">
    <label for="postTitle">Name:</label>
    <input type="text" id="postTitle" formControlName="postTitle" class="form-control" />
    <div class="warning" *ngIf="postForm.get('postTitle')?.hasError('required')">
      Post-Title is required.
    </div>
  </div>
  <!--
      <div class="form-group">
          <label for="commentDescription">Comment:</label>
          <textarea class="form-control" id="commentDescription" formControlName="commentDescription" class="form-control" rows="5" />
      </div>
      -->
  <button class='btn btn-primary' type="submit" [disabled]="postForm.invalid">
    {{ isEditMode ? 'Update' : 'Create' }} Post
  </button>
  <button class='btn btn-secondary' (click)="backToPosts()">Cancel</button>
</form>
