<!-- The title of the page which displays the viewTitle object (a string) that is defined in its TypeScript-file -->
<h1 id="tableLabel">{{ viewTitle }}</h1>

<!-- Creating the input to write into the filtering event -->
<div class="row">
    <div class="col-md-2">Filter by:</div>
    <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
    </div>
</div>

<!-- The output from the filtering event, showing which word or letter the view is currently filtered on -->
<div class="row">
    <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
    </div>
</div>

<table class="table table-striped" aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Post Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of filteredPosts">
            <td>{{ post.PostId }}</td>
            <td>{{ post.PostTitle }}</td>
            <td>
                <a [routerLink]="['/postform', 'edit', post.PostId]">Update</a>
                <a class="delete-link" (click)="deletePost(post)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<!-- Two buttons for navigating to create a new post and edit an existing post -->
<button class="btn btn-primary" [routerLink]="['/postform', 'create', -1]">Create New Post</button>
<button class="btn btn-secondary" [routerLink]="['/postform', 'edit', -1]">Edit Post</button>
