thead{
    color:blue;
}

.delete-link{
    margin-left: 8px;
    color:red;
    text-decoration: underline;
    cursor: pointer;
}

.update-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.warning{
    color:red;
}
