<h2>{{ isEditMode ? 'Update' : 'Create' }} Room</h2>

<form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="categoryId">{{ isEditMode ? 'Change category:' : 'Category' }}</label>
    <select id="categoryId" formControlName="categoryId" class="form-control" (change)="onCategoryChange($event)">
      <option *ngFor="let category of categories" [value]="category.CategoryId">{{ category.CategoryName }}</option>
    </select>
    <div class="warning" *ngIf="roomForm.get('categoryId')?.hasError('required')">
      A category is required.
    </div>
  </div>

  <div class="form-group">
    <label for="roomName">Name:</label>
    <input type="text" id="roomName" formControlName="roomName" class="form-control" />
    <div class="warning" *ngIf="roomForm.get('roomName')?.hasError('required')">
      Room-name is required.
    </div>
  </div>

  <button class="btn-primary btn" type="submit" [disabled]="roomForm.invalid"> {{ isEditMode ? 'Update' : 'Create' }} Room </button>

  <button class="btn btn-secondary" (click)="backToRooms()">Cancel</button>
</form>
