
/* Basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.actions {
  width: 400px;
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Page title */
#tableLabel {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
/*
 Filter input styling */
input[type="text"] {
  width: 100%; /*Instead of setting pixels, use 100% for full-width 
*/
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Filter label and result */
.col-md-2, .col-md-4 {
  margin-bottom: 10px;
}

h6 {
  font-weight: normal;
  color: #666;
}

/* Table styling */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
  white-space: nowrap;
}

/* Button styling */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}


.btn-success {
  background-color: #5cb85c;
  color: white;
}

.delete-link {
  margin-left: 20px; /*To provide space between Update and Delete buttons */
}



.mr-2 {
  margin-right: 8px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.search {
  width: 450px;
  padding: 2px 20px;
  margin: 10px 0px;
  height: 30px;
}
/**********************************Style for the smartphones**************************************************/
@media screen and (max-width: 460px) {



  .content {
    margin-top: 200px;
  }

  .container {
    margin-top: 250px;
  }

  .search {
    padding: 2px 20px;
    margin: 10px 0px;
    height: 30px;
  }


  .btn {
    padding: 5px 10px; /* Adjust padding to make buttons smaller */
    margin-right: 10px; /* Add margin to separate buttons */
    font-size: 0.8rem; /* Reduce font size for smaller screens */
  }
}
