<!--The title of the page which displays the viewTitle object (a string) that is defined in its TypeScript-file-->
<h1 id="tableLabel"> {{viewTitle}} </h1>

<!--<button class="btn-primary btn" (click)="getCategorys()">Get Categories</button> -->

<!-- Creating the input to write into the filtering event -->
<div class="row">
  <div class="col-md-2">Filter by:</div>
  <div class="col-md-4">
    <input type="text" [(ngModel)]="listFilter" />
  </div>
</div>

<!-- The output from the filtering event, showing which word or letter the view is currently filtered on -->
<div class="row">
  <div class="col-md-6">
    <h4>Filtered by: {{listFilter}}</h4>
  </div>
</div>

<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Category Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of filteredCategorys">
      <td>{{ category.CategoryId }}</td>
      <!---Trying to link the categoryName to the details page with the category Id to know which data to fetch and load (rooms)-->
      <td><a [routerLink]="['../rooms/', category.CategoryId]">{{ category.CategoryName }}</a></td>
      <!--<a asp-controller="Category" asp-action="CategoryDetails" asp-route-Id="@category.CategoryId">@category.CategoryName</a>-->


      <td>
        <a [routerLink]="['/categoryform', 'edit', category.CategoryId]"> Update </a>
        <a class="delete-link" (click)="deleteCategory(category)"> Delete </a>
      </td>
    </tr>
  </tbody>
</table>

<!-- Two buttons for navigating to create a new category-->
<button class="btn btn-primary" [routerLink]="['/categoryform', 'create', -1]">Create New Category</button>
<button class="btn btn-secondary" [routerLink]="['/categoryform']">Create New Category</button>
